.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 500px;
  height: 30px;
}
.suggetion-list {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 2px solid rgb(163, 168, 163);
  gap: 5px;
  max-height: 500px;
  overflow-y: scroll;
}

.suggetion-list span {
  background-color: antiquewhite;
  padding: 5px;
}
