.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  /* background-color: darkblue; */
}

.container {
  display: grid;
  border: 2px solid red;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  gap: 20px;
}

.cell {
  border: 2px solid black;
  background-color: transparent;
  height: 100px;
  /* padding-bottom: 100%; */
}

.active-cell {
  border: 2px solid black;
  background-image: linear-gradient(to bottom, rgb(9, 174, 31), yellow);
  height: 100px;
}
