.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}

.card img {
  width: 100px;
  height: 100px;
}

.grid {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; /* optional spacing */
  margin: 20px;
}

.buttons button {
  cursor: pointer;
  margin: 2px;
  width: 30px;
  padding: 0px 5px;
}

.active {
  background-color: aqua;
  box-shadow: 1px 2px #888888;
}
#id {
  border: none;
}
