.container {
  width: 600px;
  border-radius: 10px;
  display: flex;
  box-shadow: 0vi;
  margin: auto;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  background-color: rgb(199, 165, 114);
}

.otp-inputs {
  display: flex;
  gap: 10px;
  padding: 20px;
}

.otp-inputs input {
  width: 50px;
  height: 50px;
  border: none;
  background-color: beige;
  border-radius: 5px;
  text-align: center;
  font-size: large;
}
